.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: var(--bg-primary);
}
