# Base de datos (Para desarrollo local: file:./dev.db | Para producción: PostgreSQL URI de Neon/Supabase/Render)
DATABASE_URL="postgresql://usuario:password@host.neon.tech/neondb?sslmode=require"

# Llave secreta para JWT
JWT_SECRET="genera_una_clave_secreta_segura_aqui"

# Puerto (Render lo asigna automáticamente en producción)
PORT=3001

# URL(s) permitidas de frontend (separadas por coma)
CLIENT_URL="https://tu-app.vercel.app,http://localhost:5173"
